{% extends "base.html" %}

{% block title %}Alishiguang{% endblock %}

{% block content %}

    <h1></h1>

    {% for article in articlelist.object_list %}

        <div>
            <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>

            <div class="b d1 k">
                <p>Image : <img src="/static/{{article.pic }}" alt="{{article.pic.url }}"/></p>
                <p>Headline : {{ article.headline }}</p>

                <p>Article : {{ article.article|safe|truncatewords_html:"10" }}</p>

                <p>By {{ article.reporter.full_name }}</p>

                <p>Published {{ article.pub_date|date:"F j, Y" }}</p>
                <br/>
                <a href="#">more</a>
            </div>
            <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
        </div>
        <br/>
    {% endfor %}

    {% if articlelist.has_previous %}
        <a href="?page={{ articlelist.previous_page_number }}" title="下一页">上一页</a>&nbsp;
    {% endif %}
    {% for p in page_range %}
        {% ifequal p articlelist.number %}
            <span>{{ p }}</span>
        {% else %}
            <a href="?page={{p}}" title="第{{p}}页">{{ p }}</a>
        {% endifequal %}
    {% endfor %}
    &nbsp;
    {% if articlelist.has_next %}
        <a href="?page={{ articlelist.next_page_number }}" title="下一页">下一页</a>&nbsp;
    {% endif %}


    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}


{% endblock %}